{% comment %}
  Renders product variant options

  Accepts:
  - product: {Object} product object.
  - option: {Object} current product_option object.
  - block: {Object} block object.


  Usage:
  {% render 'product-variant-options',
    product: product,
    option: option,
    block: block
  %}
{% endcomment %}
{%- liquid
  assign variants_available_arr = product.variants | map: 'available'
  assign variants_option1_arr = product.variants | map: 'option1'
  assign variants_option2_arr = product.variants | map: 'option2'
  assign variants_option3_arr = product.variants | map: 'option3'

  assign product_form_id = 'product-form-' | append: section.id
-%}

{% for option in product.options_with_values %}
  {% if option.name == 'Color' %}
    <div class="swatches">
      {% for value in option.values %}
        <input
          type="radio"
          id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
          name="{{ option.name }}"
          value="{{ value | escape }}"
          form="{{ product_form_id }}"
          {% if option.selected_value == value %}
            checked
          {% endif %}
          {% if option_disabled %}
            class="disabled"
          {% endif %}
        >
        {% if product.variants[forloop.index0].metafields.color.values and option.name == 'Color' %}
          <label
            for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
            style="background-color: {{product.variants[forloop.index0].metafields.color.values}}"
          >
          </label>
        {% else %}
          <label for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}">
            {{ value }}
          </label>
        {% endif %}
      {% endfor %}
    </div>
  {% elsif option.name == 'Size' %}
    <select
      id="{{ section.id }}-{{ option.position }}"
      name="{{ option.name }}"
      class="single-option-selector"
      {% if option_selected_value %}
        data-initial-value="{{ option_selected_value }}"
      {% endif %}
    >
      {% for value in option.values %}
        {% assign option_available = false %}
        {% for variant in product.variants %}
          {% if variant.available and variant[option.name] == value %}
            {% assign option_available = true %}
            {% break %}
          {% endif %}
        {% endfor %}
        {% if option_available %}
          <option
            value="{{ value | escape }}"
            {% if option.selected_value == value %}
              selected="selected"
            {% endif %}
          >
            {{ value }}
          </option>
        {% endif %}
      {% endfor %}
    </select>
  {% endif %}
{% endfor %}

