  {% comment %}
  Renders product variant options

  Accepts:
  - product: {Object} product object.
  - option: {Object} current product_option object.
  - block: {Object} block object.


  Usage:
  {% render 'product-variant-options',
    product: product,
    option: option,
    block: block
  %}
{% endcomment %}
{%- liquid
  assign variants_available_arr = product.variants | map: 'available'
  assign variants_option1_arr = product.variants | map: 'option1'
  assign variants_option2_arr = product.variants | map: 'option2'
  assign variants_option3_arr = product.variants | map: 'option3'

  assign product_form_id = 'product-form-' | append: section.id
-%}

{%- for option in product.options_with_values -%}
  {% if option.name == 'Color' %}
    <fieldset class="js product-form__input">
      <legend class="form__label">{{ option.name }}</legend>
      {% render 'product-variant-options', product: product, option: option, block: block %}
    </fieldset>
  {% elsif option.name == 'Size' %}
    <div class="product-form__input product-form__input--dropdown">
      <label class="form__label" for="Option-{{ section.id }}-{{ forloop.index0 }}">
        {{ option.name }}
      </label>
      <div class="select">
        <select
          id="Option-{{ section.id }}-{{ forloop.index0 }}"
          class="select__select"
          name="options[{{ option.name | escape }}]"
          form="{{ product_form_id }}"
        >
          {% render 'product-variant-options', product: product, option: option, block: block %}
        </select>
        {% render 'icon-caret' %}
      </div>
    </div>
  {% else %}
    <div class="product-form__input">
      <label class="form__label" for="Option-{{ section.id }}-{{ forloop.index0 }}">
        {{ option.name }}
      </label>
      {% if option == 'Color' %}
        {% render 'product-variant-options', product: product, option: option, block: block %}
      {% else %}
        <select
          id="Option-{{ section.id }}-{{ forloop.index0 }}"
          class="select__select"
          name="options[{{ option.name | escape }}]"
          form="{{ product_form_id }}"
        >
          {% render 'product-variant-options', product: product, option: option, block: block %}
        </select>
        {% render 'icon-caret' %}
      {% endif %}
    </div>
  {% endif %}
{%- endfor -%}

